@using Microsoft.AspNetCore.Identity



@inject UserManager<AppUserModel> UserManager
@inject SignInManager<AppUserModel> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>@ViewData["Title"] - RecyclableMaterials</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  || Wostin || </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="~/images/favicons/site.webmanifest" />
    <meta name="description" content="Wostin HTML Template For Business" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="~/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="~/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="~/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="~/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="~/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/vendors/wostin-icons/style.css">
    <link rel="stylesheet" href="~/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="~/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="~/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/vendors/timepicker/timePicker.css" />
    

    <!-- template styles -->
    <link rel="stylesheet" href="~/css/wostin.css" />
    <link rel="stylesheet" href="~/css/wostin-responsive.css" />



    <!-- #region name -->
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
<!-- #endregion -->
</head>
<body>
    <div class="page-wrapper">

        <header class="main-header clearfix">
            <div class="main-header__inner clearfix" style=" padding: 0 30px;">
                
                <div class="main-header__logo">
                     @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        if (string.IsNullOrEmpty(user.ProfilePictureUrl))
                        {
                            user.ProfilePictureUrl = "Images/ProfilePictures/avatar-1.png";
                        }
                        <div class="testimonial-one__client-img" style="margin-right: 20px;max-height: 40px;max-width: 40px;">
                            <img src="@Url.Content("~/" + user.ProfilePictureUrl)" alt="" style="max-height: 40px;max-width: 40px">
                        </div>
                    }
                    
                    <a asp-action="Index" asp-controller="Home"><img src="~/images/resources/logo-1.png" alt=""></a>
                </div>
                <div class="main-menu__menu-box" style="width:55%">
                    <div class="main-menu__menu-top">
                        <div class="main-menu__menu-top-left">
                            <p class="main-menu__menu-top-text">Welcome To Waste Disposal & Pickup Services.</p>
                            <div class="main-menu__menu-top-btn-box">
                                <a href="request-pickup.html" class="thm-btn main-menu__menu-top-btn">
                                    Request a
                                    Pickup
                                </a>
                            </div>
                        </div>
                        <div class="main-menu__menu-top-right">
                            <ul class="list-unstyled main-menu__menu-top-address">
                                <li>
                                    <div class="icon">
                                        <span class="icon-email"></span>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com">needhelp@wostin.com</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-clock"></span>
                                    </div>
                                    <div class="text">
                                        <p>Mon - Sat 8:00 - 6:30, Sunday - Off</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-menu__menu-bottom">
                        <nav class="main-menu clearfix">
                            <div class="main-menu__main-menu-box">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                <ul class="main-menu__list">
                                    <li class="dropdown">
                                        <a asp-action="Index" asp-controller="Home" style="font-weight: bold;font-size: large;">Home</a>

                                    </li>
                                    @if(User.IsInRole("Admin"))
                                    {
                                        <li><a asp-action="Index" asp-area="Dashboard" asp-controller="Home"  style="font-weight: bold;font-size: large;">Dashboard</a></li>
                                    }
                                    <li class="dropdown">
                                        <a asp-action="HomeIndex" asp-controller="Product"  style="font-weight: bold;font-size: large;">Materials</a>
                                        <ul>
                                            <li><a asp-action="Index" asp-controller="Product">Materials Gallery</a></li>
                                            <li><a asp-action="Myproduct" asp-controller="Product">Manage My Materials</a></li>
                                            <li><a asp-action="Create" asp-controller="Product">New Materials</a></li>
                                        </ul>
                                    </li>
                                     <li class="dropdown">
                                        <a asp-action="profile" asp-controller="Account"  style="font-weight: bold;font-size: large;">Profile</a>

                                    </li>
                                  <li class="dropdown">
                                        <a style="font-weight: bold;font-size: large;">Our Services</a>
                                        <ul>
                                            <li><a asp-action="Restaurants" asp-controller="Home">Hotel & Restaurants</a></li>
                                            <li><a asp-action="Medical" asp-controller="Home">Medical & Hospital</a></li>
                                            <li><a asp-action="Stores" asp-controller="Home">Grocery Stores</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" >
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            
                                                <i class="fa fa-bell" id="notification-bell" style="font-size:25px"></i>
                                                <span id="notification-count" class="badge badge-warning text-dark" style="position: absolute;background-color: #ecdd5e;border-radius: 50%; margin-left: -10px; font-size: 9px;color: black; -webkit-text-stroke: thick;"></span>
                                               
                                                @await Component.InvokeAsync("Notifications")
                                           
                                            
                                        }
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="main-header__right">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        <a asp-Action="Manage" asp-Controller="Account" style="padding:4px 18px 7px;margin:8px" class=" thm-btn">Hello @user.FirstName</a>
                        <a asp-action="Logout" asp-Controller="Account" style="padding:4px 18px 7px" class=" thm-btn cta-one__btn"> Logout </a>
                    }
                    else
                    {
                        <a asp-action="Register" asp-Controller="Account" style="padding:4px 18px 7px;margin:8px" class="thm-btn">Register</a>
                        <a asp-action="Login" asp-Controller="Account" style="padding:4px 18px 7px" class=" thm-btn cta-one__btn">Login</a>
                    }


                </div>
            </div>
        </header>


        <div class="preloader">
            <img class="preloader__image" width="60" src="~/images/loader.png" alt="" />
        </div>
        <!-- /.preloader -->


        <div >
            <main role="main" style="min-height:100vh">
                @RenderBody()
            </main>
        </div>

        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer-bg" style="background-image: url(/images/backgrounds/site-footer-bg.jpg);">
            </div>
            <div class="site-footer__top">
                <div class="container">
                    <div class="site-footer__top-inner">
                        <div class="site-footer__top-logo">
                            <a asp-action="Index" asp-controller="Home"><img src="~/images/resources/footer-logo.png" alt=""></a>
                        </div>
                        <div class="site-footer__top-right">
                            <p class="site-footer__top-right-text"></p>
                            <div b-xhdozdhwkf="" class="footer-widget__contact-info">
                                <div b-xhdozdhwkf="" class="footer-widget__contact-icon">
                                    <span b-xhdozdhwkf="" class="icon-contact"></span>
                                </div>
                                <div b-xhdozdhwkf="" class="footer-widget__contact-content">
                                    <p b-xhdozdhwkf="" class="footer-widget__contact-mail-phone">
                                        <a b-xhdozdhwkf="" href="Aburmaileh7@gmail.com" class="footer-widget__contact-mail">Aburmaileh7@gmail.com</a>
                                        <a b-xhdozdhwkf="" href="tel:0785691984" class="footer-widget__contact-phone">
                                            + 962- (78)
                                            569-1984
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="site-footer__bottom">
                <div class="site-footer-bottom-shape"
                     style="background-image: url(/images/shapes/site-footer-bottom-shape.png);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">
                                    © Copyright 2024 by <a href="#">Abuirmaileh</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->



    </div>
   

    <div class="mobile-nav__wrapper ">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/images/resources/footer-logo.png"
                         width="155" alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="Aburmaileh7@gmail.com">Aburmaileh7@gmail.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:078-569-1984">078 569 1984</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




    <script src="~/js/site.js"></script>
    <script src="~/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/jarallax/jarallax.min.js"></script>
    <script src="~/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="~/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/vendors/nouislider/nouislider.min.js"></script>
    <script src="~/vendors/odometer/odometer.min.js"></script>
    <script src="~/vendors/swiper/swiper.min.js"></script>
    <script src="~/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="~/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/vendors/wow/wow.js"></script>
    <script src="~/vendors/isotope/isotope.js"></script>
    <script src="~/vendors/countdown/countdown.min.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/vendors/vegas/vegas.min.js"></script>
    <script src="~/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendors/timepicker/timePicker.js"></script>




   <!-- #endregion -->


   <!-- #region name -->
   <script>
    $(document).ready(function () {
        function loadUnreadNotificationsCount() {
            $.ajax({
                url: '@Url.Action("GetUnreadNotificationsCount", "Notifications")',
                type: 'GET',
                success: function (data) {
                    if (data > 0) {
                        $('#notification-count').text(data).show();
                    } else {
                        $('#notification-count').hide(); // إخفاء الدائرة إذا لم يكن هناك إشعارات
                    }
                }
            });
        }

        // استدعاء العدد فور تحميل الصفحة
        loadUnreadNotificationsCount();

        // يمكنك استدعاء الدالة كل فترة معينة لتحديث العدد
        setInterval(loadUnreadNotificationsCount, 60000); // تحديث كل دقيقة
    });
</script>


   <!-- #endregion -->



    <!-- template js -->
    <script src="~/js/wostin.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
